@import "tailwindcss";
@config "../../tailwind.config.ts";

:root {
  /* MODO CLARO */
  --background: #f8f9fa;
  --foreground: #181848; 
  --card: #ffffff;
  --primary: #304878;
  --accent: #f0a818; 
  --muted: #7890a8;  
}

.dark {
  /* MODO OSCURO */
  --background: #1b1c2b; 
  --foreground: #f0f0f0;
  --card: #181848;
  --primary: #304878;
  --accent: #f0a818;
  --muted: #7890a8;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
}

body {
  background: var(--background);
  color: var(--foreground);
  transition: background 0.3s ease, color 0.3s ease;
}